.gJkhe_547_img_area > p,
.jgrtopll4-c > p {
  line-height: 22px;
  font-family: "Exo 2", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.lkO_54Lpo_Card_1 {
    background-image: url('../images/Untitled\ design\ \(53\).png');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 700px;
    z-index: 1;
}
.d-flex-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
}

.hgTr54_jeCard_bg_1lk.lkO_54Lpo_Card_1 {
    padding: 0px 40px 0px 0px;
    margin-bottom: 20px;
    box-shadow: none;
}
.lkO_54Lpo_Card_1 > .jgrtopll4-c {
    background: linear-gradient(to right, #030e50, #00131a, #0f202729);
    width: 106%;
    padding: 30px 15px;
    height: 300px;
}
.lkO_54Lpo_Card_1 > .jgrtopll4-c > h2 {
    color: #ffffff;
}
.lkO_54Lpo_Card_1 > .jgrtopll4-c > h2 > span {
    color: #5ea9ff;
    text-shadow: 0px 5px 5px rgb(0 84 177);
    font-size: 50px;
    font-weight: 600;
    padding: 12px 0px;
    display: block;
}
.lkO_54Lpo_Card_1 > .jgrtopll4-c > p {
    color: #83e7ff;
    height: 80px;
}

.lkO_54Lpo_Card_1 > .jgrtopll4-c a > button.golden-btn {
    position: relative;
    top: -30px;
}


.hgTr54_jeCard_bg_1lk {
    cursor: pointer;
    margin: 0px 12px;
}
.lkO_54Lpo_Card_1 .jgrtopll4-c > h2 > img {
    width: 22px;
    position: absolute;
    top: 7px;
    left: -10px;
}
.lkO_54Lpo_Card_2 .jgrtopll4-c > h2 > img {
    width: 22px;
    position: absolute;
    top: 7px;
    left: -10px;
}
.lkO_54Lpo_Card_3 .jgrtopll4-c > h2 > img {
    width: 22px;
    position: absolute;
    top: 7px;
    left: -10px;
}
.lkO_54Lpo_Card_1 .jgrtopll4-c > h2 > img {
    width: 28px;
    position: absolute;
    top: 7px;
    left: -10px;
    margin: 0px;
}
.lkO_54Lpo_Card_2 .jgrtopll4-c > h2 > img {
    width: 28px;
    position: absolute;
    top: 7px;
    left: -10px;
    margin: 0px;
}
.lkO_54Lpo_Card_3 .jgrtopll4-c > h2 > img {
    width: 28px;
    position: absolute;
    top: 7px;
    left: -10px;
    margin: 0px;
}
.lkO_54Lpo_Card_4 .jgrtopll4-c > h2 > img {
    width: 24px;
    position: absolute;
    top: 7px;
    left: -10px;
    margin: 0px;
}
.lkO_54Lpo_Card_1 > .jgrtopll4-c > h2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.lkO_54Lpo_Card_2 > .jgrtopll4-c > h2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.lkO_54Lpo_Card_3 > .jgrtopll4-c > h2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.lkO_54Lpo_Card_4 > .jgrtopll4-c > h2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.lkO_54Lpo_Card_2 {
    background-image: url('../images/12.png');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 300px;
}
.hgTr54_jeCard_bg_1lk.lkO_54Lpo_Card_2 {
    padding: 0px 40px 0px 0px;
    margin-bottom: 20px;
    box-shadow: none;
}
.lkO_54Lpo_Card_2 > .jgrtopll4-c {
    background: linear-gradient(to right, #030e50, #00131a, #0f202729);
    width: 106%;
    padding: 30px 15px;
    height: 300px;
}

.lkO_54Lpo_Card_2 > .jgrtopll4-c > h2 {
    color: #ffffff;
    text-align: center;
    position: relative;
    left: 54%;
    transform: translateX(-100px);
    font-size: 24px;
}
.lkO_54Lpo_Card_2 > .jgrtopll4-c > h3 {
    color: #06e2ff;
    text-align: center;
    position: relative;
    left: 12%;
    transform: translateX(-50px);
    font-size: 84px;
}
.lkO_54Lpo_Card_2 > .jgrtopll4-c > p {
    color: #f0f0f0;
    text-align: center;
    position: relative;
    left: 7%;
    transform: translateX(-50px);
    font-size: 18px;
}

.lkO_54Lpo_Card_2 > .jgrtopll4-c a > button.golden-btn {
    position: relative;
    left: 42%;
    transform: translateX(-60px);
    top: 15px;
}


.lkO_54Lpo_Card_3 {
    background-image: url('../images/Untitled\ design\ \(57\).png');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 300px;
}
.hgTr54_jeCard_bg_1lk.lkO_54Lpo_Card_3 {
    padding: 0px 40px 0px 0px;
    margin-bottom: 20px;
    box-shadow: none;
}
.lkO_54Lpo_Card_3 > .jgrtopll4-c {
    background: linear-gradient(to right, #030e50, #00131a, #0f202754);
    width: 107%;
    padding: 30px 15px;
    height: 300px;
}

.lkO_54Lpo_Card_3 > .jgrtopll4-c > h2 {
    color: #ffffff;
    text-align: center;
    position: relative;
    left: 30%;
    transform: translateX(-100px);
    text-shadow: 0px 5px 5px #06e2ff91;
    font-size: 64px;
}
.lkO_54Lpo_Card_3 > .jgrtopll4-c > h3 {
    color: #06e2ff;
    text-align: center;
    position: relative;
    left: 7%;
    transform: translateX(-50px);
    font-size: 44px;
}
.lkO_54Lpo_Card_3 > .jgrtopll4-c > p {
    color: #f0f0f0;
    text-align: center;
    position: relative;
    left: 7%;
    transform: translateX(-50px);
    font-size: 18px;
}

.lkO_54Lpo_Card_3 > .jgrtopll4-c a > button.golden-btn {
    position: relative;
    left: 42%;
    transform: translateX(-65px);
    top: 15px;
}

button.golden-btn {
    color: #ffffff;
    background: #007cff;
    padding: 12px 20px;
    outline: 0px;
    border: 0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}


.lkO_54Lpo_Card_4 {
    background-image: url('../images/Untitled\ design\ \(58\).png');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 300px;
    width: 680px;
}
.hgTr54_jeCard_bg_1lk.lkO_54Lpo_Card_4 {
    padding: 0px 40px 0px 0px;
    margin-bottom: 20px;
    box-shadow: none;
}
.lkO_54Lpo_Card_4 > .jgrtopll4-c {
    background: linear-gradient(to right, #030e50, #00131a, #0f202754);
    width: 106%;
    padding: 30px 15px;
    height: 300px;
}

.lkO_54Lpo_Card_4 > .jgrtopll4-c > h2 {
    color: #fc0c40;
    text-align: center;
    position: relative;
    left: 18%;
    transform: translateX(-100px);
    text-shadow: 0px 5px 5px #bdbdbd91;
    font-size: 50px;
    font-weight: 700;
    display: block;
}
.lkO_54Lpo_Card_4 > .jgrtopll4-c > p {
    color: #e0e3e6;
    text-align: center;
    position: relative;
    left: 7%;
    transform: translateX(-50px);
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
}

.lkO_54Lpo_Card_4 > .jgrtopll4-c a > button.golden-btn {
    position: relative;
    left: 42%;
    transform: translateX(-38px);
    top: 15px;
}


